.category-page-wrapper {
  padding: 0 3rem 10rem;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  padding-top: 1rem;
}

.ant-page-header-heading-title {
  font-size: 1.8rem;
}
